.container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
h1, h4 {
  padding: 20px;
}
h4 {
	margin-top: 20px;
}
h6 {
  padding: 20px 60px 10px 100px;
}
.carousel-caption p {
  padding: 10px;
  font-size: 20px;
}
#caption {
  opacity: 0.8;
  border-radius: 30px;
}
.carl {
  padding-right: 60px;
  margin-top: -15px;
}
.copyright {
  padding: 15px;
  font-size: 20px; 
}
.copyright a {
  text-decoration: none;
}
